@using Capstone.Web.Models
@model ItineraryModel
@{
    ViewBag.Title = "CreateItinerary";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Session["users"] = 
}


<h2>CreateItinerary</h2>

<form action="@Url.Action("UserDahsboard", "Home")" method="post">
    <div>
        @Html.TextBoxFor()
    </div>



</form>