body {
}


.poly-productions a {
    text-decoration: none;
    color: black;
}

.poly-productions {
    color: black;
}

    .poly-productions a:hover {
        text-decoration: underline;
        color: black;
    }

    .poly-productions:visited {
        text-decoration: none;
        color: black;
    }
