body {
   margin-top: 50px;
}

.index-hero {
    /*background-image: url(Duda-Cleveland-Skyline-32.jpg);*/
    background-image: url(cle-skyline-night.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 20%;
    padding-bottom: 20%;
}

.poly-productions a {
    text-decoration: none;
    color: black;
}

.poly-productions {
    color: black;
}

    .poly-productions a:hover {
        text-decoration: underline;
        color: black;
    }

    .poly-productions:visited {
        text-decoration: none;
        color: black;
    }
.login {
    background-image: url(lebron-435x768.jpg);
    background-size: cover;
    background-position: top, center;
    background-repeat: no-repeat;
    color: white;
    padding-top: 5%;
    padding-bottom: 30%;
}
    /*.login{
        min-height:700px;
       /*max-width: 95%;*/
        /*margin: 0px auto;*/
        /*background-color: tomato;
    }*/
.restaurant-hero {
    /*background-image: url(Duda-Cleveland-Skyline-32.jpg);*/
    background-image: url(michael-symons-mabels-hero-.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 15%;
    padding-bottom: 20%;
}
.hero-text-drop-shadow {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

.desc-bump {
    margin: 10px auto;
}

/*Media Queries*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .login {
        background-image: url(lebron.jpg);
        background-size: cover;
        background-position: top, center;
        background-repeat: no-repeat;
        color: white;
        padding-top: 15%;
        padding-bottom: 30%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .login {
        background-image: url(lebron-1024x768.jpg);
        background-size: cover;
        background-position: top, center;
        background-repeat: no-repeat;
        color: white;
        padding-top: 5%;
        padding-bottom: 30%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .login {
        background-image: url(lebron-1920x1440.jpg);
        background-size: cover;
        background-position: center, top;
        background-repeat: no-repeat;
        color: white;
        padding-top: 15%;
        padding-bottom: 20%;
    }
}

