body {
   margin-top: 50px;
}
.partial-view-container {
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
}
.partial-view {
    border: 1px solid black;
    background-color: lightgrey;
}
.partial-view ul {
    list-style-type: none;
}


.index-hero {
    background-image: url(cle-skyline-night.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 20%;
    padding-bottom: 20%;
}

.poly-productions a {
    text-decoration: none;
    color: black;
}

.poly-productions {
    color: black;
}

    .poly-productions a:hover {
        text-decoration: underline;
        color: black;
    }

    .poly-productions:visited {
        text-decoration: none;
        color: black;
    }
.login {
    background-image: url(lebron-435x768.jpg);
    background-size: cover;
    background-position: top, center;
    background-repeat: no-repeat;
    color: black;
    
    padding-top: 5%;
    padding-bottom: 30%;
}

    .login h3 {
        color: white;
    }
    /*.login{
        min-height:700px;
       /*max-width: 95%;*/
        /*margin: 0px auto;*/
        /*background-color: tomato;
    }*/
.entertainment-hero {
    background-image: url(playhouse-square.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 15%;
    padding-bottom: 20%;
}

.landmarks-hero {
    background-image: url(public-square-terminal-1920x1281.jpg);
    background-size: cover;
    background-position: top;
    color: white;
    padding-top: 15%;
    padding-bottom: 20%;
}
.restaurant-hero {
    background-image: url(michael-symons-mabels-hero-.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 15%;
    padding-bottom: 20%;
}
.shopping-hero {
    background-image: url(tower-city-xmas.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 15%;
    padding-bottom: 20%;
}
.sports-hero {
    background-image: url(quicken-loans2.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 15%;
    padding-bottom: 20%;
}
.hero-text-drop-shadow {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

.desc-bump {
    margin: 10px auto;
}

.landmark-detail {
    text-align: center;
}

/*Media Queries*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .login {
        background-image: url(lebron-1024x768.jpg);
        background-size: cover;
        background-position: top, center;
        background-repeat: no-repeat;
        padding-top: 15%;
        padding-bottom: 30%;
    }
    .landmark-detail {
        text-align: left;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .login {
        background-image: url(lebron-1024x768.jpg);
        background-size: cover;
        background-position: top, center;
        background-repeat: no-repeat;
        padding-top: 5%;
        padding-bottom: 30%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .login {
        background-image: url(lebron-1920x1440.jpg);
        background-size: cover;
        background-position: center, top;
        background-repeat: no-repeat;
        padding-top: 15%;
        padding-bottom: 20%;
    }
}

