
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Where To Be In The CLE</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Where To Be IN The CLE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>Login</li>
                </ul>
            </div>
        </div>
    </div>

    @*<div class="container body-content">*@
    @RenderBody()
    <hr />
    <footer>
        <p class="text-center">
            <br />&copy; @DateTime.Now.Year &bull;
            <a class="poly-productions" href="https://www.linkedin.com/in/teddilyn-gavozzi/">Gavozzi </a>
            <a class="poly-productions" href="https://www.linkedin.com/in/peter-rader/">Rader </a>
            <a class="poly-productions" href="https://www.linkedin.com/in/richard-smith-ohio/"> Smith</a> &amp;
            <a class="poly-productions" href="https://www.linkedin.com/in/samanthatroy1220/">Troy</a> Production
        </p>
    </footer>
    @*</div>*@
</body>
</html>
